$center: 0 auto;

//width & height
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$tile-width: 236px;
$tile-height: 304px;
$home-form-width: 818px;
$home-input-height: 58px;
$home-submit-width: 813px;
$home-submit-height: 61px;
$home-submit-border-radius: 30px;
$home-footer-width: 1280px;
$home-footer-height: 100px;
$home-text-width: 416px;
$home-text-height: 46px;
$home-readMore-width: 122px;
$home-readMore-height: 40px;
$home-destination-title-width: 214px;
$home-destination-title-height: 60px;
$home-destination-price-width: 152px;
$home-destination-price-height: 30px;
$home-learnMore-width: 133px;
$home-learnMore-height: 40px;
$home-learnMore-border-radius: 20px;

//site colors
$site-blue: #79ADDC;
$site-white: #FFFFFF;
$site-black: #000000;

//butons